version: '3.8'

services:
  postgres:
    # Imagem com suporte a vetores (Vital para a nova fase)
    image: ankane/pgvector:v0.5.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sociedade_sintetica
    ports:
      # Mantive 5433 externamente para não quebrar sua conexão atual
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
